<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Device List</title>
    
    <!-- link to seperate css in static/css/device_list.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/device_list.css') }}">
</head>
<body>
    <h1>Device List</h1>
    <table>
        <thead>
            <tr>
                <th>No.</th>
                <th>Device Name</th>
                <th>Location</th>
                <th>Type</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% if device_files %}
                {% for device in device_files %}
                <tr>
                    <td>{{ device.index }}</td>
                    <td>{{ device.display_name }}</td>
                    <td>{{ device.location }}</td>
                    <td>{{ device.type }}</td>
                    <td><a href="/device/{{ device.full_filename }}" target="_blank">View Details</a></td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5">No devices found.</td>
                </tr>
            {% endif %}
        </tbody>
        
    </table>

    <!-- link to seperate javascript in project/static/js/device_list.js -->
    <script src="{{ url_for('static', filename='js/device_list.js') }}"></script>
</body>
</html>
